/* Design Tokens */
@import "@design/tokens/css";

/* Tailwind confugration */
@import "tailwindcss";

/* Tailwind plugins */
@plugin "@tailwindcss/typography";

/* HeroUI theme */
@plugin './hero.ts';

/* Hoisted to be placed in the root */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));


/* Theme extensions from design tokens */
@theme {
  /* Typography */
  --font-family-primary: var(--typography-font-family-primary);
  
  --font-weight-light: var(--typography-font-weight-light);
  --font-weight-regular: var(--typography-font-weight-regular);
  --font-weight-medium: var(--typography-font-weight-medium);
  --font-weight-semibold: var(--typography-font-weight-semibold);
  --font-weight-bold: var(--typography-font-weight-bold);
  --font-weight-extrabold: var(--typography-font-weight-extrabold);
  --font-weight-black: var(--typography-font-weight-black);
}

body {
  font-family: var(--typography-font-family-primary);
}
